h1{ /*typselektor, Huuvud rebriken*/
    font-family:'Times New Roman', Times, serif; /*ändrar typsnittet*/
    font-size: 200%; /*ändrar textstorlek*/
    text-align: center; /*flyttar texten*/
}

body{ /*typselektor*/
    background: url(img.png/nandhu-kumar-jAMcUbsTvWE-unsplash.jpg); /*ändrar bakgrunden, i detta fall är det en bild*/
    background-size: cover; /*gör så bakgrunden blir i rätt storlek och så hela bild täcker hela bakgrunden*/
    height: 100vh; /*sätter en höjd på hemsidan*/
    margin: 0; /*Förflyttar saker så de hamnar på rätt plats*/
}

.om-mig-text{ /*klassselektor, till texten om mig */
    font-size: 20px;
    border: solid; /*skapar en solid border*/
    width: 900px; /*bredden på bordern*/
    height: 185px; /*höjden på bordern*/
    padding-left: 8px; /*flyttar texten till höger*/
    padding-top: 10px; /*flyttar texten neråt*/
    background-color: rgba(0, 0, 0, 0.50); /*backgrundsfärgen, detta fall svart med 50% opcaity (genomskinlighet) */
}
.klicka-på-bild{ /*klassselektor, till en text vid en bild */
    padding-left: 958px; 
}

.wrapper{ /*klassselektor, omfamnar allt som finns på min henmsida*/
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid; /*för att innehållet i wrappern visas i form av gridar*/
    grid-template-rows: 80px 80px auto 70px; /*storleken på alla delarna i wrappern*/
    grid-template-areas: /*ger namn på olika griddelar*/
    "header" /*de olika namnen*/ 
    "nav"
    "main"
    "footer"
}

header{ /*typselektor*/
    background: transparent; 
    color: white; /*ändrar text färgen*/
    grid-area: header; /*dens grid*/
}

nav{ /*typselektor*/
    grid-area: nav;
    color: white;
}

nav > ul{ /*barnselektor, ett arv till ul om ul ligger i nav*/
    display: grid; /*skapar en grid*/
    grid-template-columns: 1fr 1fr 1fr; /*delar upp griden*/
    height: 100%;
}

nav li{ /*avkomlingsselektor, på nav och li*/
    list-style-type: none; /*gör så det inte blir någon form av lista alltså tar bort t.ex punkter*/
}

nav a{ /*avkomlingsselektor*/
    display: grid;
    border-radius: 100px; /*rundar kanter*/
    border: solid;
    height: 30px;
    width: 150px;
    text-align: center;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.650);
}

main ul{ /*avkomlingsselektor*/
    border-style: solid;
    width: 390px;
    height: 130px;
    border-radius: 50px;
    padding-top: 20px;  
}

main li{ /*avkomlingsselektor*/
    font-size: large;
}

main li:first-of-type{ /*avkomlingsselektor, pseudoklass, ändrar den första punkten på listan*/
    list-style-type: none;
    padding-bottom: 10px;
    font-size: larger;
}


a{ /*typselektor, alla länkar */
    color: white;
    text-decoration: none; /*tar bort understräck*/
}

main{ /*typselektor*/
    grid-area: main;
    color: white;
    padding-left: 20px;
}

footer{ /*typselektor*/
    background: rgb(0, 0, 0);
    grid-area: footer;
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding-top: 8px;
    width: 100%;
    height: 100%;
}

table, th, td, tr{ /*gruppselektor*/
    border: 2px solid white;
    border-collapse: collapse; /*gör så det bara blir en boarder runt tabellen*/ 
    width: 760px;
    height: 30px;
    text-align: center;
}

th:nth-child(2){ /*struktuell psuedoklass, ändrar andra raden i tabellen*/
    text-align: left;
    padding-left: 10px;
}

th:nth-child(7){ /* struktuell psuedoklass, ändrar sjunde raden*/
    text-align: right;
    padding-right: 10px;
}

th:nth-child(1), td:nth-child(1){ /*struktuell psuedoklass och gruppselektor, ändrar i första raden td ändrar i allt förutom rutan högst upp */
    text-align: left;
    width: 70px;
}

td:nth-child(1){ 
    text-align: center;
}

td:nth-child(2){
    text-align: left;
    padding-left: 10px;
}

td:nth-child(7){
    text-align: right;
    padding-right: 10px;
}

tr:nth-child(even){ /*ändrar alla rader som har jämna positoner i listan t.ex andra raden efetersom det är rad 2 och fjärde raden för det är rad 4 */
    background-color: rgba(0, 128, 0, 0.50);
}

tr:nth-child(odd){ /*samma som ovan bara de ojämna talen*/
    background-color: rgba(0, 0, 0, 0.50);
}

caption{ /*typselektor, rubriken till tabellen*/
    caption-side: top; /*Gör så att rubriken är över tabellen*/
    font-size: 30px;
}

.theo, .golf, .mamma, .jag{ /*klass och gruppselektor, mina bilder*/
    height: 400px;
}

.jag:hover{ /*psudorklass och klassselektor, gör så att det ändras när man hoverar över just den bilden*/
    opacity: 0.9;
}
