h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 200%;
    padding-left: 40px;
}

body{
    background: url(img.png/nandhu-kumar-jAMcUbsTvWE-unsplash.jpg);
    background-size: cover;
}

.wrapper{
    width:95%;
    margin:0 auto;
    display: grid;
    grid-template-rows: 80px 50px auto 70px  ;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer"
}

header{
    background: transparent;
    color:white;
    grid-area: header;
}

nav{
    grid-area: nav;
    color:white;
    opacity: 100%;
}

nav > ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height:100%;
    align-self: stretch;
    align-items: stretch;
    opacity: 100%;
}

nav li{
    list-style-type: none;
    padding-left:50px ;
    display: grid;
    opacity: 100%;
}

nav a{
    display: grid;
    border-radius: 100px;
    border-style: solid;
    border-color: black;
    height: 30px;
    width: 150px;
    text-align: center;
    padding-top: 10px;
    background-color: black;
    opacity: 65%;
}

a{
    color:white;
    text-decoration: none;
}
main{
    background: transparent;
    grid-area: main;
    color: white;
}

footer{
    background: transparent;
    grid-area: footer;
    color:white;
}